### Create a Neural Network that classifies employees by job satisfaction (Tensorflow/Keras) [IBM dataset]

### Information about the dataset

- Number of inputs: **1479**
- Number of features: **33**
- Dataset: https://www.ibm.com/communities/analytics/watson-analytics-blog/hr-employee-attrition/
- Data fields description: https://www.ibm.com/communities/analytics/watson-analytics-blog/hr-employee-attrition/

In [1]:
import warnings; warnings.simplefilter('ignore')
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import warnings; warnings.simplefilter('ignore')

df = pd.read_csv('Classification.csv')

**DNN requires that y starts from 0 and continues like this 0,1,2,3...**

In [2]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
df['JobSatisfaction'] = le.fit_transform(df['JobSatisfaction'])
#df['EnvironmentSatisfaction'] = le.fit_transform(df['EnvironmentSatisfaction'])

In [3]:
df['JobSatisfaction'].unique()

array([3, 1, 2, 0], dtype=int64)

**Assigning values to predict**

In [4]:
y = df['JobSatisfaction']

**For Keras y values should be encoded as dummy variables**

In [5]:
y_dummy= pd.get_dummies(df['JobSatisfaction'])

**Removing unneeded columns**

In [6]:
df = df.drop(['EmployeeCount', 'EmployeeNumber'], axis=1)

#remove columns to predict
df = df.drop(['EnvironmentSatisfaction', 'JobSatisfaction','RelationshipSatisfaction'], axis=1)

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,Female,94,3,2,Sales Executive,Single,5993,19479,8,Yes,11,3,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,Male,61,2,2,Research Scientist,Married,5130,24907,1,No,23,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,Male,92,2,1,Laboratory Technician,Single,2090,2396,6,Yes,15,3,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,Female,56,3,1,Research Scientist,Married,2909,23159,1,Yes,11,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,Male,40,3,1,Laboratory Technician,Married,3468,16632,9,No,12,3,1,6,3,3,2,2,2,2

### Building a Keras model

**Dividing variables, putting them in categorical and nom-categorical dataframe to encode only categorical variables**

In [9]:
#indexes of columns with and without categorical variables
col_list = [1,2,4,6,7,8,10,11,12,13,17,19,20,23]
no_cat_var = [0,3,5,9,14,15,16,18, 21,22,24, 25,26,27]

df_un_cat = df.iloc[:, col_list]
df_un_non_cat = df.iloc[:, no_cat_var]

In [10]:
df_un_cat.head()

,Attrition,BusinessTravel,Department,Education,EducationField,Gender,JobInvolvement,JobLevel,JobRole,MaritalStatus,OverTime,PerformanceRating,StockOptionLevel,WorkLifeBalance
0,Yes,Travel_Rarely,Sales,2,Life Sciences,Female,3,2,Sales Executive,Single,Yes,3,0,1
1,No,Travel_Frequently,Research & Development,1,Life Sciences,Male,2,2,Research Scientist,Married,No,4,1,3
2,Yes,Travel_Rarely,Research & Development,2,Other,Male,2,1,Laboratory Technician,Single,Yes,3,0,3
3,No,Travel_Frequently,Research & Development,4,Life Sciences,Female,3,1,Research Scientist,Married,Yes,3,0,3
4,No,Travel_Rarely,Research & Development,1,Medical,Male,3,1,Laboratory Technician,Married,No,3,1,3

In [11]:
df_un_non_cat.head()

,Age,DailyRate,DistanceFromHome,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,94,5993,19479,8,11,8,0,6,4,0,5
1,49,279,8,61,5130,24907,1,23,10,3,10,7,1,7
2,37,1373,2,92,2090,2396,6,15,7,3,0,0,0,0
3,33,1392,3,56,2909,23159,1,11,8,3,8,7,3,0
4,27,591,2,40,3468,16632,9,12,6,3,2,2,2,2

**Conversion so get_dummies works as it should**

In [12]:
df_un_cat['Education']= df_un_cat['Education'].astype('category')
df_un_cat['JobInvolvement'] = df_un_cat['JobInvolvement'].astype('category')
df_un_cat['JobLevel']= df_un_cat['JobLevel'].astype('category')
df_un_cat['PerformanceRating']= df_un_cat['PerformanceRating'].astype('category')
df_un_cat['StockOptionLevel']= df_un_cat['StockOptionLevel'].astype('category')
df_un_cat['WorkLifeBalance'] = df_un_cat['WorkLifeBalance'].astype('category')

In [13]:
df = pd.get_dummies(df_un_cat, drop_first=True)

**Merging converted into dummies categorical variables and non-categorical variables**

In [14]:
X = pd.merge(df, df_un_non_cat, left_index=True, right_index=True)

In [15]:
X.head()

,Attrition_Yes,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,Education_2,Education_3,Education_4,Education_5,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobInvolvement_2,JobInvolvement_3,JobInvolvement_4,JobLevel_2,JobLevel_3,JobLevel_4,JobLevel_5,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes,PerformanceRating_4,StockOptionLevel_1,StockOptionLevel_2,StockOptionLevel_3,WorkLifeBalance_2,WorkLifeBalance_3,WorkLifeBalance_4,Age,DailyRate,DistanceFromHome,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,41,1102,1,94,5993,19479,8,11,8,0,6,4,0,5
1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,0,0,1,0,49,279,8,61,5130,24907,1,23,10,3,10,7,1,7
2,1,0,1,1,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,37,1373,2,92,2090,2396,6,15,7,3,0,0,0,0
3,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,33,1392,3,56,2909,23159,1,11,8,3,8,7,3,0
4,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,27,591,2,40,3468,16632,9,12,6,3,2,2,2,2

**Train-test split**

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y_dummy, test_size = 0.2)

**Scaling variables**

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**Importing Keras**

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

Using TensorFlow backend.

**How the model will look like:** <br/>
4 hidden layers, each has 96 neurons, small dropout to prevent overfitting, relu as an activator, mean squared error as loss function, softmax as an optimizer, 200 epochs.

In [50]:
# Initialising the ANN
model = Sequential()    
model.add(Dense(units = 96, kernel_initializer = 'uniform', activation = 'relu', input_dim = 54))
model.add(Dropout(p = 0.1))
model.add(Dense(units = 96, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(p = 0.1))
model.add(Dense(units = 96, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(p = 0.1))
model.add(Dense(units = 96, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(p = 0.1))
model.add(Dense(units = 4, kernel_initializer = 'uniform', activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
history = model.fit(X_train, y_train, batch_size = 20, epochs = 200)

Epoch 1/200
1176/1176 [==============================] - 1s 985us/step - loss: 1.3726 - acc: 0.3053
Epoch 2/200
1176/1176 [==============================] - 0s 160us/step - loss: 1.3538 - acc: 0.3104
Epoch 3/200
1176/1176 [==============================] - 0s 192us/step - loss: 1.3433 - acc: 0.3078
Epoch 4/200
1176/1176 [==============================] - 0s 190us/step - loss: 1.3334 - acc: 0.3291
Epoch 5/200
1176/1176 [==============================] - 0s 187us/step - loss: 1.3097 - acc: 0.3461
Epoch 6/200
1176/1176 [==============================] - 0s 183us/step - loss: 1.2830 - acc: 0.3682
Epoch 7/200
1176/1176 [==============================] - 0s 202us/step - loss: 1.2451 - acc: 0.3861
Epoch 8/200
1176/1176 [==============================] - 0s 241us/step - loss: 1.2291 - acc: 0.3835
Epoch 9/200
1176/1176 [==============================] - 0s 198us/step - loss: 1.1918 - acc: 0.4005
Epoch 10/200
1176/1176 [==============================] - 0s 170us/step - loss: 1.1601 - acc: 0.4243
Epoch 11/200
1176/1176 [==============================] - 0s 166us/step - loss: 1.1120 - acc: 0.4609
Epoch 12/200
1176/1176 [==============================] - 0s 183us/step - loss: 1.0956 - acc: 0.4498
Epoch 13/200
1176/1176 [==============================] - 0s 202us/step - loss: 1.0890 - acc: 0.4566
Epoch 14/200
1176/1176 [==============================] - 0s 209us/step - loss: 1.0458 - acc: 0.4592
Epoch 15/200
1176/1176 [==============================] - 0s 177us/step - loss: 0.9942 - acc: 0.4864
Epoch 16/200
1176/1176 [==============================] - 0s 171us/step - loss: 0.9763 - acc: 0.5026
Epoch 17/200
1176/1176 [==============================] - 0s 181us/step - loss: 0.9328 - acc: 0.5340
Epoch 18/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.9364 - acc: 0.5298
Epoch 19/200
1176/1176 [==============================] - 0s 155us/step - loss: 0.9136 - acc: 0.5757
Epoch 20/200
1176/1176 [==============================] - 0s 154us/step - loss: 0.8897 - acc: 0.5510
Epoch 21/200
1176/1176 [==============================] - 0s 174us/step - loss: 0.8624 - acc: 0.5706
Epoch 22/200
1176/1176 [==============================] - 0s 168us/step - loss: 0.8184 - acc: 0.5799
Epoch 23/200
1176/1176 [==============================] - 0s 191us/step - loss: 0.7749 - acc: 0.6122
Epoch 24/200
1176/1176 [==============================] - 0s 148us/step - loss: 0.7869 - acc: 0.6088
Epoch 25/200
1176/1176 [==============================] - 0s 139us/step - loss: 0.7562 - acc: 0.6310
Epoch 26/200
1176/1176 [==============================] - 0s 163us/step - loss: 0.7234 - acc: 0.6378
Epoch 27/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.7007 - acc: 0.6718
Epoch 28/200
1176/1176 [==============================] - 0s 171us/step - loss: 0.6891 - acc: 0.6650
Epoch 29/200
1176/1176 [==============================] - 0s 144us/step - loss: 0.6600 - acc: 0.6675
Epoch 30/200
1176/1176 [==============================] - 0s 141us/step - loss: 0.6429 - acc: 0.6905
Epoch 31/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.6303 - acc: 0.6862
Epoch 32/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.6113 - acc: 0.6905
Epoch 33/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.5905 - acc: 0.7092
Epoch 34/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.5827 - acc: 0.7092
Epoch 35/200
1176/1176 [==============================] - 0s 155us/step - loss: 0.5667 - acc: 0.7117
Epoch 36/200
1176/1176 [==============================] - 0s 154us/step - loss: 0.5725 - acc: 0.7211
Epoch 37/200
1176/1176 [==============================] - 0s 170us/step - loss: 0.5175 - acc: 0.7628
Epoch 38/200
1176/1176 [==============================] - 0s 162us/step - loss: 0.5030 - acc: 0.7466
Epoch 39/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.5175 - acc: 0.7483
Epoch 40/200
1176/1176 [==============================] - 0s 155us/step - loss: 0.5083 - acc: 0.7517
Epoch 41/200
1176/1176 [==============================] - 0s 151us/step - loss: 0.4961 - acc: 0.7670
Epoch 42/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.4680 - acc: 0.7696
Epoch 43/200
1176/1176 [==============================] - 0s 169us/step - loss: 0.4633 - acc: 0.7840
Epoch 44/200
1176/1176 [==============================] - 0s 204us/step - loss: 0.4450 - acc: 0.7832
Epoch 45/200
1176/1176 [==============================] - 0s 201us/step - loss: 0.4264 - acc: 0.7942
Epoch 46/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.4599 - acc: 0.7772
Epoch 47/200
1176/1176 [==============================] - 0s 151us/step - loss: 0.4585 - acc: 0.7789
Epoch 48/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.4626 - acc: 0.7849
Epoch 49/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.4206 - acc: 0.8010
Epoch 50/200
1176/1176 [==============================] - 0s 134us/step - loss: 0.4394 - acc: 0.8044
Epoch 51/200
1176/1176 [==============================] - 0s 145us/step - loss: 0.4101 - acc: 0.8180
Epoch 52/200
1176/1176 [==============================] - 0s 136us/step - loss: 0.3871 - acc: 0.8274
Epoch 53/200
1176/1176 [==============================] - 0s 192us/step - loss: 0.4291 - acc: 0.8044
Epoch 54/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.4128 - acc: 0.8231
Epoch 55/200
1176/1176 [==============================] - 0s 155us/step - loss: 0.4096 - acc: 0.8257
Epoch 56/200
1176/1176 [==============================] - 0s 171us/step - loss: 0.3599 - acc: 0.8554
Epoch 57/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.3687 - acc: 0.8588
Epoch 58/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.3561 - acc: 0.8529
Epoch 59/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.3613 - acc: 0.8614 0s - loss: 0.3668 - acc: 0.862
Epoch 60/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.3068 - acc: 0.8835
Epoch 61/200
1176/1176 [==============================] - 0s 131us/step - loss: 0.2992 - acc: 0.8937
Epoch 62/200
1176/1176 [==============================] - 0s 155us/step - loss: 0.3388 - acc: 0.8759
Epoch 63/200
1176/1176 [==============================] - 0s 142us/step - loss: 0.3269 - acc: 0.8827
Epoch 64/200
1176/1176 [==============================] - 0s 218us/step - loss: 0.2758 - acc: 0.8971
Epoch 65/200
1176/1176 [==============================] - 0s 179us/step - loss: 0.3040 - acc: 0.8835
Epoch 66/200
1176/1176 [==============================] - 0s 176us/step - loss: 0.2581 - acc: 0.8988
Epoch 67/200
1176/1176 [==============================] - 0s 131us/step - loss: 0.2834 - acc: 0.8971
Epoch 68/200
1176/1176 [==============================] - 0s 128us/step - loss: 0.2639 - acc: 0.8997
Epoch 69/200
1176/1176 [==============================] - 0s 162us/step - loss: 0.2714 - acc: 0.8980
Epoch 70/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.2443 - acc: 0.9048
Epoch 71/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.2498 - acc: 0.9022
Epoch 72/200
1176/1176 [==============================] - 0s 135us/step - loss: 0.2494 - acc: 0.9022
Epoch 73/200
1176/1176 [==============================] - 0s 139us/step - loss: 0.2967 - acc: 0.8852
Epoch 74/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.2684 - acc: 0.8980
Epoch 75/200
1176/1176 [==============================] - 0s 149us/step - loss: 0.2475 - acc: 0.9150
Epoch 76/200
1176/1176 [==============================] - 0s 141us/step - loss: 0.1975 - acc: 0.9345
Epoch 77/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.2210 - acc: 0.9158
Epoch 78/200
1176/1176 [==============================] - 0s 141us/step - loss: 0.2243 - acc: 0.9226
Epoch 79/200
1176/1176 [==============================] - 0s 140us/step - loss: 0.2264 - acc: 0.9158
Epoch 80/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.2210 - acc: 0.9209
Epoch 81/200

1176/1176 [==============================] - 0s 156us/step - loss: 0.1816 - acc: 0.9337
Epoch 82/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.2059 - acc: 0.9226
Epoch 83/200
1176/1176 [==============================] - 0s 132us/step - loss: 0.2131 - acc: 0.9303
Epoch 84/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.1895 - acc: 0.9286
Epoch 85/200
1176/1176 [==============================] - 0s 136us/step - loss: 0.1958 - acc: 0.9294
Epoch 86/200
1176/1176 [==============================] - 0s 148us/step - loss: 0.1884 - acc: 0.9362
Epoch 87/200
1176/1176 [==============================] - 0s 243us/step - loss: 0.1810 - acc: 0.9337
Epoch 88/200
1176/1176 [==============================] - 0s 160us/step - loss: 0.1990 - acc: 0.9269
Epoch 89/200
1176/1176 [==============================] - 0s 143us/step - loss: 0.1854 - acc: 0.9277
Epoch 90/200
1176/1176 [==============================] - 0s 160us/step - loss: 0.2072 - acc: 0.9260
Epoch 91/200
1176/1176 [==============================] - 0s 168us/step - loss: 0.1791 - acc: 0.9405
Epoch 92/200
1176/1176 [==============================] - 0s 161us/step - loss: 0.1821 - acc: 0.9371
Epoch 93/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.1563 - acc: 0.9379
Epoch 94/200
1176/1176 [==============================] - 0s 131us/step - loss: 0.1618 - acc: 0.9396
Epoch 95/200
1176/1176 [==============================] - 0s 129us/step - loss: 0.1949 - acc: 0.9388
Epoch 96/200
1176/1176 [==============================] - 0s 134us/step - loss: 0.1521 - acc: 0.9532
Epoch 97/200
1176/1176 [==============================] - 0s 198us/step - loss: 0.1685 - acc: 0.9354
Epoch 98/200
1176/1176 [==============================] - 0s 193us/step - loss: 0.1565 - acc: 0.9447
Epoch 99/200
1176/1176 [==============================] - 0s 169us/step - loss: 0.1719 - acc: 0.9447
Epoch 100/200
1176/1176 [==============================] - 0s 130us/step - loss: 0.1912 - acc: 0.9294
Epoch 101/200
1176/1176 [==============================] - 0s 129us/step - loss: 0.1515 - acc: 0.9481
Epoch 102/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.1430 - acc: 0.9532
Epoch 103/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.1855 - acc: 0.9430
Epoch 104/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.1704 - acc: 0.9413
Epoch 105/200
1176/1176 [==============================] - 0s 144us/step - loss: 0.1600 - acc: 0.9481
Epoch 106/200
1176/1176 [==============================] - 0s 136us/step - loss: 0.1501 - acc: 0.9422
Epoch 107/200
1176/1176 [==============================] - 0s 129us/step - loss: 0.1485 - acc: 0.9464
Epoch 108/200
1176/1176 [==============================] - 0s 149us/step - loss: 0.1159 - acc: 0.9566
Epoch 109/200
1176/1176 [==============================] - 0s 190us/step - loss: 0.1326 - acc: 0.9592
Epoch 110/200
1176/1176 [==============================] - 0s 193us/step - loss: 0.1287 - acc: 0.9541
Epoch 111/200
1176/1176 [==============================] - 0s 161us/step - loss: 0.1389 - acc: 0.9549
Epoch 112/200
1176/1176 [==============================] - 0s 159us/step - loss: 0.1298 - acc: 0.9660
Epoch 113/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.1677 - acc: 0.9422
Epoch 114/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.1505 - acc: 0.9498
Epoch 115/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.1276 - acc: 0.9566
Epoch 116/200
1176/1176 [==============================] - 0s 138us/step - loss: 0.1030 - acc: 0.9651
Epoch 117/200
1176/1176 [==============================] - 0s 132us/step - loss: 0.1466 - acc: 0.9549
Epoch 118/200
1176/1176 [==============================] - 0s 140us/step - loss: 0.1365 - acc: 0.9583
Epoch 119/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.1560 - acc: 0.9379
Epoch 120/200
1176/1176 [==============================] - 0s 167us/step - loss: 0.1653 - acc: 0.9481
Epoch 121/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.1332 - acc: 0.9541
Epoch 122/200
1176/1176 [==============================] - 0s 160us/step - loss: 0.1160 - acc: 0.9643
Epoch 123/200
1176/1176 [==============================] - 0s 133us/step - loss: 0.1223 - acc: 0.9609
Epoch 124/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.1291 - acc: 0.9558
Epoch 125/200
1176/1176 [==============================] - 0s 149us/step - loss: 0.1439 - acc: 0.9481
Epoch 126/200
1176/1176 [==============================] - 0s 208us/step - loss: 0.1141 - acc: 0.9651
Epoch 127/200
1176/1176 [==============================] - 0s 178us/step - loss: 0.1369 - acc: 0.9541
Epoch 128/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.1157 - acc: 0.9600
Epoch 129/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.1446 - acc: 0.9464
Epoch 130/200
1176/1176 [==============================] - 0s 162us/step - loss: 0.1451 - acc: 0.9541
Epoch 131/200
1176/1176 [==============================] - 0s 161us/step - loss: 0.1497 - acc: 0.9566
Epoch 132/200
1176/1176 [==============================] - 0s 143us/step - loss: 0.1182 - acc: 0.9651
Epoch 133/200
1176/1176 [==============================] - 0s 164us/step - loss: 0.1203 - acc: 0.9592
Epoch 134/200
1176/1176 [==============================] - 0s 149us/step - loss: 0.1183 - acc: 0.9592
Epoch 135/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.1239 - acc: 0.9541
Epoch 136/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.0964 - acc: 0.9660
Epoch 137/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.1402 - acc: 0.9558
Epoch 138/200
1176/1176 [==============================] - 0s 142us/step - loss: 0.1044 - acc: 0.9660
Epoch 139/200
1176/1176 [==============================] - 0s 132us/step - loss: 0.1216 - acc: 0.9592
Epoch 140/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.1118 - acc: 0.9609
Epoch 141/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.1025 - acc: 0.9660
Epoch 142/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.1004 - acc: 0.9651
Epoch 143/200
1176/1176 [==============================] - 0s 137us/step - loss: 0.1189 - acc: 0.9566
Epoch 144/200
1176/1176 [==============================] - 0s 145us/step - loss: 0.0944 - acc: 0.9685
Epoch 145/200
1176/1176 [==============================] - 0s 159us/step - loss: 0.1712 - acc: 0.9388
Epoch 146/200
1176/1176 [==============================] - 0s 170us/step - loss: 0.1362 - acc: 0.9532
Epoch 147/200
1176/1176 [==============================] - 0s 185us/step - loss: 0.1313 - acc: 0.9566
Epoch 148/200
1176/1176 [==============================] - 0s 150us/step - loss: 0.1000 - acc: 0.9685
Epoch 149/200
1176/1176 [==============================] - 0s 131us/step - loss: 0.1214 - acc: 0.9617
Epoch 150/200
1176/1176 [==============================] - 0s 133us/step - loss: 0.0852 - acc: 0.9711
Epoch 151/200
1176/1176 [==============================] - 0s 135us/step - loss: 0.1059 - acc: 0.9617
Epoch 152/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.1052 - acc: 0.9677
Epoch 153/200
1176/1176 [==============================] - 0s 209us/step - loss: 0.1243 - acc: 0.9600
Epoch 154/200
1176/1176 [==============================] - 0s 177us/step - loss: 0.1086 - acc: 0.9592
Epoch 155/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.0981 - acc: 0.9643
Epoch 156/200
1176/1176 [==============================] - 0s 138us/step - loss: 0.0896 - acc: 0.9685
Epoch 157/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.0962 - acc: 0.9660
Epoch 158/200
1176/1176 [==============================] - 0s 164us/step - loss: 0.1097 - acc: 0.9668
Epoch 159/200
1176/1176 [==============================] - 0s 143us/step - loss: 0.1226 - acc: 0.9668
Epoch 160/200
1176/1176 [==============================] - 0s 145us/step - loss: 0.0887 - acc: 0.9702
Epoch 161/200

1176/1176 [==============================] - 0s 144us/step - loss: 0.1295 - acc: 0.9558
Epoch 162/200
1176/1176 [==============================] - 0s 162us/step - loss: 0.1091 - acc: 0.9660
Epoch 163/200
1176/1176 [==============================] - 0s 154us/step - loss: 0.0750 - acc: 0.9762
Epoch 164/200
1176/1176 [==============================] - 0s 164us/step - loss: 0.0817 - acc: 0.9745
Epoch 165/200
1176/1176 [==============================] - 0s 144us/step - loss: 0.1286 - acc: 0.9592
Epoch 166/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.1214 - acc: 0.9677
Epoch 167/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.0998 - acc: 0.9668
Epoch 168/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.1049 - acc: 0.9668
Epoch 169/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.0861 - acc: 0.9685
Epoch 170/200
1176/1176 [==============================] - 0s 182us/step - loss: 0.1085 - acc: 0.9643
Epoch 171/200
1176/1176 [==============================] - 0s 177us/step - loss: 0.0937 - acc: 0.9711
Epoch 172/200
1176/1176 [==============================] - 0s 126us/step - loss: 0.0982 - acc: 0.9660
Epoch 173/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.0842 - acc: 0.9702
Epoch 174/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.1080 - acc: 0.9600
Epoch 175/200
1176/1176 [==============================] - 0s 153us/step - loss: 0.1097 - acc: 0.9711
Epoch 176/200
1176/1176 [==============================] - 0s 140us/step - loss: 0.0917 - acc: 0.9719
Epoch 177/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.1226 - acc: 0.9609
Epoch 178/200
1176/1176 [==============================] - 0s 126us/step - loss: 0.0715 - acc: 0.9719
Epoch 179/200
1176/1176 [==============================] - 0s 146us/step - loss: 0.0988 - acc: 0.9694
Epoch 180/200
1176/1176 [==============================] - 0s 160us/step - loss: 0.0780 - acc: 0.9711
Epoch 181/200
1176/1176 [==============================] - 0s 165us/step - loss: 0.1155 - acc: 0.9660
Epoch 182/200
1176/1176 [==============================] - 0s 151us/step - loss: 0.0869 - acc: 0.9711
Epoch 183/200
1176/1176 [==============================] - 0s 154us/step - loss: 0.0779 - acc: 0.9694
Epoch 184/200
1176/1176 [==============================] - 0s 145us/step - loss: 0.1109 - acc: 0.9643
Epoch 185/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.1055 - acc: 0.9651
Epoch 186/200
1176/1176 [==============================] - 0s 145us/step - loss: 0.0808 - acc: 0.9736
Epoch 187/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.0874 - acc: 0.9694
Epoch 188/200
1176/1176 [==============================] - 0s 131us/step - loss: 0.1450 - acc: 0.9507
Epoch 189/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.0926 - acc: 0.9685
Epoch 190/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.1101 - acc: 0.9668
Epoch 191/200
1176/1176 [==============================] - 0s 157us/step - loss: 0.0515 - acc: 0.9838
Epoch 192/200
1176/1176 [==============================] - 0s 152us/step - loss: 0.0778 - acc: 0.9728
Epoch 193/200
1176/1176 [==============================] - 0s 242us/step - loss: 0.1035 - acc: 0.9651
Epoch 194/200
1176/1176 [==============================] - 0s 164us/step - loss: 0.0855 - acc: 0.9694
Epoch 195/200
1176/1176 [==============================] - 0s 160us/step - loss: 0.0716 - acc: 0.9787
Epoch 196/200
1176/1176 [==============================] - 0s 158us/step - loss: 0.0799 - acc: 0.9702
Epoch 197/200
1176/1176 [==============================] - 0s 159us/step - loss: 0.1002 - acc: 0.9668
Epoch 198/200
1176/1176 [==============================] - 0s 156us/step - loss: 0.0834 - acc: 0.9745
Epoch 199/200
1176/1176 [==============================] - 0s 147us/step - loss: 0.0894 - acc: 0.9711
Epoch 200/200
1176/1176 [==============================] - 0s 133us/step - loss: 0.1062 - acc: 0.9694

In [51]:
y_pred = model.predict(X_test)

**Results of a model**

In [52]:
import tensorflow as tf
from keras.metrics import categorical_accuracy
accuracy = categorical_accuracy(y_test, y_pred)
session = tf.Session()
session.run(accuracy)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1.,
       0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1.,
       0., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 0., 1.], dtype=float32)

**Accuracy of a model**

In [53]:
sum(session.run(accuracy))/len(session.run(accuracy))

0.32653061224489793

**First 10 real values**

In [57]:
y_test.round(3)[50:60]

      0  1  2  3
1143  1  0  0  0
8     0  0  1  0
104   0  0  0  1
372   0  1  0  0
367   0  0  0  1
217   0  0  1  0
342   0  0  0  1
501   0  0  1  0
437   0  1  0  0
634   1  0  0  0

**First 10 predicted values**

In [58]:
y_pred.round(3)[50:60]

array([[0.057, 0.937, 0.007, 0.   ],
       [0.   , 0.   , 0.814, 0.186],
       [0.039, 0.96 , 0.001, 0.   ],
       [0.   , 0.998, 0.   , 0.002],
       [0.   , 0.   , 1.   , 0.   ],
       [0.017, 0.   , 0.973, 0.009],
       [0.   , 0.001, 0.021, 0.977],
       [0.001, 0.   , 0.   , 0.999],
       [0.119, 0.863, 0.017, 0.001],
       [0.006, 0.001, 0.986, 0.008]], dtype=float32)

### Building a Tensorflow model

In [59]:
df = pd.read_csv('Classification.csv')
y = df['JobSatisfaction']

**DNN requires that y starts from 0 and continues like this 0,1,2,3...**

In [60]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
df['JobSatisfaction'] = le.fit_transform(df['JobSatisfaction'])

In [61]:
#remove unneeded columns
df = df.drop(['EmployeeCount', 'EmployeeNumber'], axis=1)

#remove columns to predict
df = df.drop(['EnvironmentSatisfaction', 'JobSatisfaction','RelationshipSatisfaction'], axis=1)

**Train-test split**

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y)

In [ ]:
import tensorflow as tf

**Creating feature columns**

Categorical variables

In [63]:
Attrition = tf.feature_column.categorical_column_with_vocabulary_list(key="Attrition", 
                                                                      vocabulary_list=['No', 'Yes'])
BusinessTravel = tf.feature_column.categorical_column_with_vocabulary_list(key="BusinessTravel", 
                                                                       vocabulary_list=['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'])
Department = tf.feature_column.categorical_column_with_vocabulary_list(key="Department", 
                                                                   vocabulary_list=['Sales', 'Research & Development', 'Human Resources'])
Education = tf.feature_column.categorical_column_with_vocabulary_list(key="Education", 
                                                                  vocabulary_list=[2, 3, 4, 1, 5])
EducationField = tf.feature_column.categorical_column_with_vocabulary_list(key="EducationField", 
                                                                       vocabulary_list=['Life Sciences', 'Medical', 'Marketing', 'Technical Degree','Other', 'Human Resources'])
Gender = tf.feature_column.categorical_column_with_vocabulary_list(key="Gender", 
                                                               vocabulary_list=['Female', 'Male'])
JobInvolvement = tf.feature_column.categorical_column_with_vocabulary_list(key="JobInvolvement", 
                                                                       vocabulary_list=[3, 1, 4, 2])
JobLevel = tf.feature_column.categorical_column_with_vocabulary_list(key="JobLevel", 
                                                                 vocabulary_list=[2, 4, 1, 3, 5])
JobRole = tf.feature_column.categorical_column_with_vocabulary_list(key="JobRole", 
                                                                vocabulary_list=['Sales Executive', 'Research Scientist', 'Healthcare Representative', 'Sales Representative','Manufacturing Director', 'Laboratory Technician', 'Manager','Research Director', 'Human Resources'])
MaritalStatus = tf.feature_column.categorical_column_with_vocabulary_list(key="MaritalStatus", 
                                                                      vocabulary_list=['Married', 'Divorced', 'Single'])
OverTime = tf.feature_column.categorical_column_with_vocabulary_list(key="OverTime", 
                                                                 vocabulary_list=['No', 'Yes'])
PerformanceRating = tf.feature_column.categorical_column_with_vocabulary_list(key="PerformanceRating", 
                                                                          vocabulary_list=[3, 4])
StockOptionLevel = tf.feature_column.categorical_column_with_vocabulary_list(key="StockOptionLevel", 
                                                                         vocabulary_list=[1, 0, 2, 3])
WorkLifeBalance = tf.feature_column.categorical_column_with_vocabulary_list(key="WorkLifeBalance", 
                                                                        vocabulary_list=[3, 1, 2, 4])

Continuous variables

In [64]:
Age = tf.feature_column.numeric_column("Age")
DailyRate = tf.feature_column.numeric_column("DailyRate")
DistanceFromHome = tf.feature_column.numeric_column("DistanceFromHome")
HourlyRate = tf.feature_column.numeric_column("HourlyRate")
MonthlyIncome = tf.feature_column.numeric_column("MonthlyIncome")
MonthlyRate = tf.feature_column.numeric_column("MonthlyRate")
NumCompaniesWorked = tf.feature_column.numeric_column("NumCompaniesWorked")
PercentSalaryHike = tf.feature_column.numeric_column("PercentSalaryHike")
TotalWorkingYears = tf.feature_column.numeric_column("TotalWorkingYears")
TrainingTimesLastYear = tf.feature_column.numeric_column("TrainingTimesLastYear")
YearsAtCompany = tf.feature_column.numeric_column("YearsAtCompany")
YearsInCurrentRole = tf.feature_column.numeric_column("YearsInCurrentRole")
YearsSinceLastPromotion = tf.feature_column.numeric_column("YearsSinceLastPromotion")
YearsWithCurrManager = tf.feature_column.numeric_column("YearsWithCurrManager")

In [65]:
feat_cols = [tf.feature_column.indicator_column(Attrition),
             tf.feature_column.indicator_column(BusinessTravel),
             tf.feature_column.indicator_column(Department),
             tf.feature_column.indicator_column(Education),
             tf.feature_column.indicator_column(EducationField),
             tf.feature_column.indicator_column(Gender),
             tf.feature_column.indicator_column(JobInvolvement),
             tf.feature_column.indicator_column(JobLevel),
             tf.feature_column.indicator_column(JobRole),
             tf.feature_column.indicator_column(MaritalStatus),
             tf.feature_column.indicator_column(OverTime),
             tf.feature_column.indicator_column(PerformanceRating), 
             tf.feature_column.indicator_column(StockOptionLevel), 
             tf.feature_column.indicator_column(WorkLifeBalance),
            Age, DailyRate, DistanceFromHome, HourlyRate, MonthlyIncome, MonthlyRate, NumCompaniesWorked, 
            PercentSalaryHike, TotalWorkingYears, TrainingTimesLastYear, YearsAtCompany, YearsInCurrentRole,
            YearsSinceLastPromotion, YearsWithCurrManager]

**Scaling of continuos columns**

In [66]:
con_col = ['Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate', 'MonthlyIncome', 'MonthlyRate',
         'NumCompaniesWorked', 'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear',
         'YearsAtCompany', 'YearsInCurrentRole',
         'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [67]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[con_col] = scaler.fit_transform(X_train[con_col])
X_test[con_col] = scaler.fit_transform(X_test[con_col])

**How the model will look like:** <br/>
4 hidden layers, each has 96 neurons, small dropout to prevent overfitting, relu as an activator, mean squared error as loss function, softmax as an optimizer, 200 epochs.

In [183]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train ,batch_size=25,num_epochs=200,
                                            shuffle=True)

In [240]:
#Grid - learning_rate=0.001, 
#model = tf.estimator.DNNRegressor(hidden_units=[6,6,6],feature_columns=feature_columns)

model = tf.estimator.DNNClassifier(feature_columns=feat_cols, hidden_units=[96,96,96,96],
                                   optimizer=tf.train.AdamOptimizer(learning_rate=0.001),
                                   activation_fn = tf.nn.relu,
                                   n_classes=4)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\alexa\AppData\Local\Temp\tmpzqaa51pj
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\alexa\\AppData\\Local\\Temp\\tmpzqaa51pj', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002AD90C1E940>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [241]:
model.train(input_fn=input_func,steps=1000000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\alexa\AppData\Local\Temp\tmpzqaa51pj\model.ckpt.
INFO:tensorflow:loss = 34.689518, step = 1
INFO:tensorflow:global_step/sec: 151.382
INFO:tensorflow:loss = 33.234344, step = 101 (0.661 sec)
INFO:tensorflow:global_step/sec: 258.519
INFO:tensorflow:loss = 31.972576, step = 201 (0.387 sec)
INFO:tensorflow:global_step/sec: 197.958
INFO:tensorflow:loss = 32.23688, step = 301 (0.506 sec)
INFO:tensorflow:global_step/sec: 239.874
INFO:tensorflow:loss = 13.2178135, step = 401 (0.417 sec)
INFO:tensorflow:global_step/sec: 169.893
INFO:tensorflow:loss = 5.809194, step = 501 (0.595 sec)
INFO:tensorflow:global_step/sec: 141.218
INFO:tensorflow:loss = 3.5631287, step = 601 (0.706 sec)
INFO:tensorflow:global_step/sec: 158.15
INFO:tensorflow:loss = 1.136996, step = 701 (0.629 sec)
INFO:tensorflow:global_step/sec: 145.949
INFO:tensorflow:loss = 0.43331262, step = 801 (0.691 sec)
INFO:tensorflow:global_step/sec: 151.637
INFO:tensorflow:loss = 0.15766326, step = 901 (0.650 sec)
INFO:tensorflow:global_step/sec: 184.995
INFO:tensorflow:loss = 0.13001205, step = 1001 (0.543 sec)
INFO:tensorflow:global_step/sec: 155.695
INFO:tensorflow:loss = 0.06971967, step = 1101 (0.649 sec)
INFO:tensorflow:global_step/sec: 155.241
INFO:tensorflow:loss = 0.06948236, step = 1201 (0.637 sec)
INFO:tensorflow:global_step/sec: 187.938
INFO:tensorflow:loss = 0.0702158, step = 1301 (0.533 sec)
INFO:tensorflow:global_step/sec: 163.824
INFO:tensorflow:loss = 0.055556584, step = 1401 (0.609 sec)
INFO:tensorflow:global_step/sec: 147.042
INFO:tensorflow:loss = 0.026786098, step = 1501 (0.687 sec)
INFO:tensorflow:global_step/sec: 164.104
INFO:tensorflow:loss = 0.019318698, step = 1601 (0.601 sec)
INFO:tensorflow:global_step/sec: 217.029
INFO:tensorflow:loss = 0.022667013, step = 1701 (0.466 sec)
INFO:tensorflow:global_step/sec: 167.391
INFO:tensorflow:loss = 0.023515707, step = 1801 (0.597 sec)
INFO:tensorflow:global_step/sec: 143.831
INFO:tensorflow:loss = 0.0137491925, step = 1901 (0.693 sec)
INFO:tensorflow:global_step/sec: 174.378
INFO:tensorflow:loss = 0.024106145, step = 2001 (0.574 sec)
INFO:tensorflow:global_step/sec: 169.133
INFO:tensorflow:loss = 0.011236317, step = 2101 (0.589 sec)
INFO:tensorflow:global_step/sec: 161.324
INFO:tensorflow:loss = 0.01368298, step = 2201 (0.620 sec)
INFO:tensorflow:global_step/sec: 167.552
INFO:tensorflow:loss = 0.017675908, step = 2301 (0.601 sec)
INFO:tensorflow:global_step/sec: 170.08
INFO:tensorflow:loss = 0.009308464, step = 2401 (0.583 sec)
INFO:tensorflow:global_step/sec: 151.919
INFO:tensorflow:loss = 0.008239466, step = 2501 (0.663 sec)
INFO:tensorflow:global_step/sec: 170.374
INFO:tensorflow:loss = 0.005031663, step = 2601 (0.585 sec)
INFO:tensorflow:global_step/sec: 166.409
INFO:tensorflow:loss = 0.005706098, step = 2701 (0.596 sec)
INFO:tensorflow:global_step/sec: 164.637
INFO:tensorflow:loss = 0.0070558237, step = 2801 (0.616 sec)
INFO:tensorflow:global_step/sec: 167.529
INFO:tensorflow:loss = 0.006804922, step = 2901 (0.590 sec)
INFO:tensorflow:global_step/sec: 168.516
INFO:tensorflow:loss = 0.003162536, step = 3001 (0.592 sec)
INFO:tensorflow:global_step/sec: 166.776
INFO:tensorflow:loss = 0.0043879836, step = 3101 (0.607 sec)
INFO:tensorflow:global_step/sec: 142.01
INFO:tensorflow:loss = 0.0031393513, step = 3201 (0.700 sec)
INFO:tensorflow:global_step/sec: 139.354
INFO:tensorflow:loss = 0.0046809306, step = 3301 (0.721 sec)
INFO:tensorflow:global_step/sec: 132.279
INFO:tensorflow:loss = 0.0042050877, step = 3401 (0.758 sec)
INFO:tensorflow:global_step/sec: 173.159
INFO:tensorflow:loss = 0.004396759, step = 3501 (0.573 sec)
INFO:tensorflow:global_step/sec: 231.031
INFO:tensorflow:loss = 0.0038604746, step = 3601 (0.431 sec)
INFO:tensorflow:global_step/sec: 195.962
INFO:tensorflow:loss = 0.002478336, step = 3701 (0.509 sec)
INFO:tensorflow:global_step/sec: 195.835
INFO:tensorflow:loss = 0.0035278369, step = 3801 (0.510 sec)
INFO:tensorflow:global_step/sec: 243.958
INFO:tensorflow:loss = 0.0027152896, step = 3901 (0.410 sec)
INFO:tensorflow:global_step/sec: 184.174
INFO:tensorflow:loss = 0.0018615556, step = 4001 (0.546 sec)
INFO:tensorflow:global_step/sec: 244.554
INFO:tensorflow:loss = 0.002110832, step = 4101 (0.406 sec)
INFO:tensorflow:global_step/sec: 162.496
INFO:tensorflow:loss = 0.0019292716, step = 4201 (0.627 sec)
INFO:tensorflow:global_step/sec: 141.517
INFO:tensorflow:loss = 0.0019150805, step = 4301 (0.701 sec)
INFO:tensorflow:global_step/sec: 142.282
INFO:tensorflow:loss = 0.0015737091, step = 4401 (0.699 sec)
INFO:tensorflow:global_step/sec: 136.6
INFO:tensorflow:loss = 0.0026927697, step = 4501 (0.732 sec)
INFO:tensorflow:global_step/sec: 146.798
INFO:tensorflow:loss = 0.0012491354, step = 4601 (0.682 sec)
INFO:tensorflow:global_step/sec: 205.026
INFO:tensorflow:loss = 0.0010511386, step = 4701 (0.489 sec)
INFO:tensorflow:global_step/sec: 190.622
INFO:tensorflow:loss = 0.0011058656, step = 4801 (0.528 sec)
INFO:tensorflow:global_step/sec: 240.196
INFO:tensorflow:loss = 0.0014841922, step = 4901 (0.412 sec)
INFO:tensorflow:global_step/sec: 219.201
INFO:tensorflow:loss = 0.0011014438, step = 5001 (0.458 sec)
INFO:tensorflow:global_step/sec: 244.554
INFO:tensorflow:loss = 0.0008865255, step = 5101 (0.406 sec)
INFO:tensorflow:global_step/sec: 234.196
INFO:tensorflow:loss = 0.00085028785, step = 5201 (0.429 sec)
INFO:tensorflow:global_step/sec: 218.153
INFO:tensorflow:loss = 0.00076768827, step = 5301 (0.455 sec)
INFO:tensorflow:global_step/sec: 243.959
INFO:tensorflow:loss = 0.0009525644, step = 5401 (0.412 sec)
INFO:tensorflow:global_step/sec: 193.072
INFO:tensorflow:loss = 0.00062439614, step = 5501 (0.517 sec)
INFO:tensorflow:global_step/sec: 193.757
INFO:tensorflow:loss = 0.0006375127, step = 5601 (0.517 sec)
INFO:tensorflow:global_step/sec: 127.336
INFO:tensorflow:loss = 0.00086326496, step = 5701 (0.783 sec)
INFO:tensorflow:global_step/sec: 171.536
INFO:tensorflow:loss = 0.00046526638, step = 5801 (0.585 sec)
INFO:tensorflow:global_step/sec: 167.67
INFO:tensorflow:loss = 0.0007856838, step = 5901 (0.603 sec)
INFO:tensorflow:global_step/sec: 145.419
INFO:tensorflow:loss = 0.0005938886, step = 6001 (0.684 sec)
INFO:tensorflow:global_step/sec: 130.727
INFO:tensorflow:loss = 0.00038456317, step = 6101 (0.765 sec)
INFO:tensorflow:global_step/sec: 139.648
INFO:tensorflow:loss = 0.00047896575, step = 6201 (0.717 sec)
INFO:tensorflow:global_step/sec: 155.937
INFO:tensorflow:loss = 0.00034617897, step = 6301 (0.643 sec)
INFO:tensorflow:global_step/sec: 129.377
INFO:tensorflow:loss = 0.0004988787, step = 6401 (0.768 sec)
INFO:tensorflow:global_step/sec: 129.88
INFO:tensorflow:loss = 0.0003497532, step = 6501 (0.769 sec)
INFO:tensorflow:global_step/sec: 138.58
INFO:tensorflow:loss = 0.0004151989, step = 6601 (0.728 sec)
INFO:tensorflow:global_step/sec: 120.585
INFO:tensorflow:loss = 0.0002897941, step = 6701 (0.841 sec)
INFO:tensorflow:global_step/sec: 124.247
INFO:tensorflow:loss = 0.0002876485, step = 6801 (0.794 sec)
INFO:tensorflow:global_step/sec: 139.063
INFO:tensorflow:loss = 0.00022923728, step = 6901 (0.714 sec)
INFO:tensorflow:global_step/sec: 148.208
INFO:tensorflow:loss = 0.00041317113, step = 7001 (0.673 sec)
INFO:tensorflow:global_step/sec: 147.882
INFO:tensorflow:loss = 0.0003058868, step = 7101 (0.683 sec)
INFO:tensorflow:global_step/sec: 168.233
INFO:tensorflow:loss = 0.00025057545, step = 7201 (0.588 sec)
INFO:tensorflow:global_step/sec: 196.175
INFO:tensorflow:loss = 0.00022435025, step = 7301 (0.512 sec)
INFO:tensorflow:global_step/sec: 185.337
INFO:tensorflow:loss = 0.00019657437, step = 7401 (0.535 sec)
INFO:tensorflow:global_step/sec: 197.353
INFO:tensorflow:loss = 0.0001716603, step = 7501 (0.511 sec)
INFO:tensorflow:global_step/sec: 206.236
INFO:tensorflow:loss = 0.00021552885, step = 7601 (0.484 sec)
INFO:tensorflow:global_step/sec: 171.397
INFO:tensorflow:loss = 0.00025045624, step = 7701 (0.583 sec)
INFO:tensorflow:global_step/sec: 165.036

INFO:tensorflow:loss = 0.0001879914, step = 7801 (0.607 sec)
INFO:tensorflow:global_step/sec: 196.422
INFO:tensorflow:loss = 0.00017440198, step = 7901 (0.509 sec)
INFO:tensorflow:global_step/sec: 186.05
INFO:tensorflow:loss = 0.00019347534, step = 8001 (0.538 sec)
INFO:tensorflow:global_step/sec: 203.113
INFO:tensorflow:loss = 0.0001602166, step = 8101 (0.489 sec)
INFO:tensorflow:global_step/sec: 183.977
INFO:tensorflow:loss = 0.0001504411, step = 8201 (0.544 sec)
INFO:tensorflow:global_step/sec: 215.552
INFO:tensorflow:loss = 0.0001243344, step = 8301 (0.466 sec)
INFO:tensorflow:global_step/sec: 197.765
INFO:tensorflow:loss = 8.952583e-05, step = 8401 (0.506 sec)
INFO:tensorflow:global_step/sec: 163.836
INFO:tensorflow:loss = 0.00012516923, step = 8501 (0.607 sec)
INFO:tensorflow:global_step/sec: 135.586
INFO:tensorflow:loss = 8.201572e-05, step = 8601 (0.747 sec)
INFO:tensorflow:global_step/sec: 151.461
INFO:tensorflow:loss = 0.00011289062, step = 8701 (0.656 sec)
INFO:tensorflow:global_step/sec: 175.899
INFO:tensorflow:loss = 0.000105380605, step = 8801 (0.569 sec)
INFO:tensorflow:Saving checkpoints for 8816 into C:\Users\alexa\AppData\Local\Temp\tmpzqaa51pj\model.ckpt.
INFO:tensorflow:Loss for final step: 9.226757e-05.

**Creating predictions**

In [242]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [243]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\alexa\AppData\Local\Temp\tmpzqaa51pj\model.ckpt-8816
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

**Confusion matrix**

In [244]:
final_preds = []

for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [245]:
from sklearn.metrics import classification_report

print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.22      0.22      0.22        69
          1       0.23      0.16      0.19        75
          2       0.28      0.34      0.31       107
          3       0.27      0.28      0.28       117

avg / total       0.26      0.26      0.26       368

**Summary**

With 1479 values it is only possible to classify 25-30% of employee satisfaction level. I suppose more entries are required to build a stable model